.imagen-fondo{
	background-image:url("../images/estudiantes.jpg");
	background-size:cover;
}

.cabecera{
color: #fff;
width:100%;
height:100%;
text-align:center;
vertical-align:middle;
display: flex;
justify-content: center;

}
.frase{
	color: white;
	font-size:20pt;
	font-style:italic;
	text-shadow: 2px 2px 2px black;
	
}
a{
	color:white;
font-size:20pt;
text-decoration:none;
background-color:red;
}
a:hover{
	font-size:25pt;
	color:black;
}
.sombra{text-shadow: 2px 2px 2px black;}

h1{color:red;}
h2{color:red;}
h3{color:red;}

footer{
text-align:center;
vertical-align:middle;
display: flex;
justify-content: center;
}
